.name {
  font-size: 32px;
  margin: 30px 0;
}

.company__container {
  margin-bottom: 30px;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 15px;
}

.contact {
  margin-bottom: 10px;
}

.company__name {
  font-size: 20px;
  margin-bottom: 15px;
}
